footer.u-mt-large.footer
  span Challenge by
  a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor.
  span Coded by 
  a(a href="https://www.frontendmentor.io/profile/besttlookk" target="_blank") Prabhash Ranjan