header.header.u-mt-small
  .header__left
    h1.header__title Social Media Dashboard
    p.u-text-subheading.u-mt-tiny Total Followers: 23,004

  .u-divider

  .header__right
    .u-text-subheading Dark Mode
    .toggle.header__toggle
      input(type="checkbox" id="toggle")
      label(for="toggle").toggle__label

