.toggle {
  input[type="checkbox"] {
    display: none;
  }

  &__label {
    display: block;
    width: 50px;
    height: 24px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    background: var(--toggle);

    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      right: 4px;
      top: 3px;
      border-radius: 50%;
      background-color: white;
      z-index: 1;
      transition: all 0.3s ease-in-out;
    }
  }

  input:checked + label {
    background: linear-gradient(
      225deg,
      var(--toggle-bg-start) 0%,
      var(--toggle-bg-end) 98.2%
    );
  }

  input:checked + label::after {
    background-color: var(--bg-top-dark);
    right: calc(100% - 4px);
    transform: translateX(100%);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-mode: "dark";
      --col-bg: var(--bg-dark);
      --col-bg-top: var(--bg-top-dark);
      --col-bg-card: var(--bg-card-dark);
      --col-txt1: var(--dark-text1);
      --col-txt2: var(--dark-text2);
      --col-card-hover: var(--bg-card-hover-dark);
    }
  }
}
