- 
  const cardDataArr = [
    {
      "social":"facebook",
      "username":"@nathanf",
      "count":"1987",
      "countLabel":"followers",
      "arrowDir":"up",
      "change":"12 Today"
    },{
      "social":"twitter",
      "username":"@nathanf",
      "count":"1044",
      "countLabel":"followers",
      "arrowDir":"up",
      "change":"99 Today"
    },{
      "social":"instagram",
      "username":"@realnathanf",
      "count":"11k",
      "countLabel":"followers",
      "arrowDir":"up",
      "change":"1099 Today"
    },{
      "social":"youtube",
      "username":"Nathan F.",
      "count":"8239",
      "countLabel":"subscribers",
      "arrowDir":"down",
      "change":"144 Today"
    }
  ]

- 
  const cardOverviewDataArr = [
    {
      "social":"facebook",
      "label":"Page Views",
      "count":"87",
      "arrowDir":"up",
      "change":"3%"
    },{
      "social":"facebook",
      "label":"Likes",
      "count":"52",
      "arrowDir":"down",
      "change":"2%"
    },{
      "social":"instagram",
      "label":"Likes",
      "count":"5462",
      "arrowDir":"up",
      "change":"2257%"
    },{
      "social":"instagram",
      "label":"Page Views",
      "count":"52K",
      "arrowDir":"up",
      "change":"1375%"
    },{
      "social":"twitter",
      "label":"Retweets",
      "count":"117",
      "arrowDir":"up",
      "change":"303%"
    },{
      "social":"twitter",
      "label":"Likes",
      "count":"507",
      "arrowDir":"up",
      "change":"553%"
    },{
      "social":"youtube",
      "label":"Likes",
      "count":"107",
      "arrowDir":"down",
      "change":"19%"
    },{
      "social":"youtube",
      "label":"Total Views",
      "count":"1407",
      "arrowDir":"down",
      "change":"12%"
    }
  ]
